################################################################################
# Repo

.git/
.gitignore

################################################################################
# Leftover CI log artifacts

0_install-pioneer.txt
install-pioneer/
logs_*.zip

################################################################################
# Colcon workspace build artifacts

build/
install/
log/
